name: Update map data
on:
  workflow_dispatch:
  schedule:
    - cron: '42 6 * * *'

jobs:
  bump-map-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}
      
      - name: Patch map date file
        run: ./scripts/patch_map_date_file.sh

      - name: Commit map date file to the repository
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update map data to latest extract
          file_pattern: 'MAPDATE.txt'
